body {
    background-color:white;
  }
#header {
  padding: 30px;
  background:rgb(140, 140, 247);
  display: flex;
  justify-content: space-between;
}
#header a {
  color: white;
}

#all_posts {
  padding-top: 200px;
  margin-top: 50px;
}

.section {
  color: hotpink;
  display: block;
  text-align: center;
}